<h1>Files</h1>
<table>
  <thead>
    <tr>
      <th>File</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <% @data.each do |object|  %>
      <% if object.content_length > 0 %>
        <tr>
          <td><a href="/o/<%= object.key %>"><%= object.key %></a></td>
          <td><%= S3Server::Helpers.format_mb object.content_length %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

