body {
  font-family: "Arial", "Helvetica", sans-serif;
}

.container {
  margin: 0 auto;
  width: 98%;
}

@media (min-width: 1400px) {
  .container {
    width: 60%;
  }
}

header {
  background-color: #333;
  color: #fff;
  height: 28px;
  position: relative;
}

header h1 { margin: 0; }

header .banner {
  left: 4px;
  position: absolute;
  top: 0;
  width: 50%;
}

header .login {
  position: absolute;
  right: 4px;
  top: 6px;
  text-align: right;
  width: 50%;
}

video, audio { width: 100% }

table {
  border: 1px solid ddd;
  display: table;
  width: 100%;
}

table th {
  background-color: #ddd;
  line-height: 2em;
  text-align: left;
  padding: 1em;
}

table td {
  border-bottom: 1px solid #ddd;
  padding: 1em;
}

table td a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.5em;

}
