body {
  font-family: "Arial", "Helvetica", sans-serif;
}

.container {
  margin: 0 auto;
  width: 98%;
}

header {
  background-color: #333;
  color: #fff;
  height: 28px;
  position: relative;
}

header h1 {margin: 0;}

header .banner {
  position: absolute;
  left: 4px;
  top: 0;
  width: 50%;
}

header .login {
  position: absolute;
  right: 4px;
  top: 6px;
  text-align: right;
  width: 50%;
}

video { width: 100% }
